doctype html
html(lang='ru')
  head
    include head
  body

    h1.text-center Офисы
    div.container
      div.row

        div.col-6
          div.item
            img(src='img/Zalcgitter.jpg')
            div.desc
              p.name Коммерческие площади / жилая недвижимость и офисные помещения в Зальцгиттере
              div.row
                div.col-6.property Год постройки/реконструкции
                div.col-6.value 1967/1985
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 50 мест
                br
                div.col-6.property Общая полезная площадь
                div.col-6.value 8.724 m2
                br
                div.col-6.property.grey Площадь участка
                div.col-6.value.grey 5.525 m2
                br
                div.col-6.property Количество этажей
                div.col-6.value 6
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 7.47%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 12.800.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Vena01.jpg')
            div.desc
              p.name Коммерческие площади / офисные помещения и два детских сада в Вене
              div.row
                div.col-6.property Год постройки
                div.col-6.value 1991
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 24 места
                br
                div.col-6.property Общая полезная площадь
                div.col-6.value 3.472 m2
                br
                div.col-6.property.grey Площадь участка
                div.col-6.value.grey 1.514m2
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 5.4%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 7.548.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Dusseldorf01.jpg')
            div.desc
              p.name Коммерческие площади / офисная и жилая недвижимость в Дюссельдорфе
              div.row
                div.col-6.property Год постройки/реконструкции
                div.col-6.value 1994/1996-2002
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 115 мест
                br
                div.col-6.property Общая полезная площадь
                div.col-6.value 8.481 m2
                br
                div.col-6.property.grey Площадь участка
                div.col-6.value.grey 3.437 m2
                br
                div.col-6.property Количество этажей
                div.col-6.value 4/5
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 7.500.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 
                    
        div.col-6
          div.item
            img(src='img/Hamburg04.jpg')
            div.desc
              p.name Коммерческая недвижимость/офисный центр в Гамбурге
              div.row
                div.col-6.property Год постройки
                div.col-6.value 2001
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 150 мест
                br
                div.col-6.property Полезная площадь здания
                div.col-6.value 7.521,54 m2
                br
                div.col-6.property.grey Площадь участка
                div.col-6.value.grey 10.070 m2
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 7.2%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 10.550.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 
