doctype html
html(lang='ru')
  head
    include head
  body

    h1.text-center Коммерческие площади
    div.container
      div.row

        div.col-6
          div.item
            img(src='img/Augsburg02.jpg')
            div.desc
              p.name Пакет 4 магазина сетевого ритейла
              div.row
                div.col-6.property Год постройки
                div.col-6.value 2006
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey 67 машиномест
                br
                div.col-6.property Участок
                div.col-6.value Земля в собственности
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 6,6%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 13.300.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Babenhauzen.jpg')
            div.desc
              p.name Магазин NORMA в Бабенхаузене
              div.row
                div.col-6.property Год постройки
                div.col-6.value 2012-2013
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey 74 машиномест
                br
                div.col-6.property Участок
                div.col-6.value 4200 м
                    sup 2
                br
                div.col-6.property.grey Срок аренды
                div.col-6.value.grey до 12.2023
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 1.750.000 €

        div.col-6
          div.item
            img(src='img/Munhen08.jpg')
            div.desc
              p.name Жилая и коммерческая недвижимость Мюнхен-Грюнвальд
              div.row
                div.col-6.property Год постройки
                div.col-6.value 1986
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey 22 машиномест (6 в аренде)
                br
                div.col-6.property Участок
                div.col-6.value 770 м
                    sup 2
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 4,5%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 6.100.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Karst.jpg')
            div.desc
              p.name Фитнес-центр в Карсте
              div.row
                div.col-6.property Год постройки/реконструкции
                div.col-6.value 1980/2001
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey 51 машиноместо
                br
                div.col-6.property Участок
                div.col-6.value 2973 м
                    sup 2
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 8%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 2.062.487 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Volfratshausen.jpg')
            div.desc
              p.name Центр по торговле строительными материалами + торговый центр все для сада
              div.row
                div.col-6.property Год постройки
                div.col-6.value Апрель 2016
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey 332 машиномест
                br
                div.col-6.property Участок
                div.col-6.value прибл. 20.170 м
                    sup 2
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey 15 лет
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 6,8%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 12.200.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Vorms.jpg')
            div.desc
              p.name Торговый центр в Вормсе
              div.row
                div.col-6.property Год постройки/реконструкции
                div.col-6.value 1965/2015
                br
                div.col-6.property.grey Участок
                div.col-6.value.grey 2.445 м
                    sup 2
                br
                div.col-6.property Договор аренды
                div.col-6.value до 12/2021
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 7,7%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 9.969.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item
            img(src='img/Saarluis.jpg')
            div.desc
              p.name Коммерческие площади / торговые и офисные помещения в Саарлуис
              div.row
                div.col-6.property Год постройки
                div.col-6.value 1985, 1993
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 380 мест
                br
                div.col-6.property Полезная площадь здания
                div.col-6.value 17.000 m2
                br
                div.col-6.property.grey Площадь участка
                div.col-6.value.grey 13.831 m2
                br
                div.col-6.property Количество этажей
                div.col-6.value 5
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 6.5%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 22.300.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 
        div.col-6
          div.item
            img(src='img/Stutgart01.jpg')
            div.desc
              p.name Супермаркет и 3-х комнатная квартира в Штутгарте
              div.row
                div.col-6.property Год постройки
                div.col-6.value 2004
                br
                div.col-6.property.grey Общая площадь
                div.col-6.value.grey 821 m2
                br
                div.col-6.property Площадь магазина
                div.col-6.value 734 m2
                br
                div.col-6.property.grey Площадь квартиры
                div.col-6.value.grey 84 m2
                br
                div.col-6.property Количество этажей
                div.col-6.value 2
                br
                div.col-6.property.grey Договор аренды магазина
                div.col-6.value.grey до 01.08.2018
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 22.300.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 
        div.col-6
          div.item
            img(src='img/Rotterdam.jpg')
            div.desc
              p.name Коммерческие площади - логистический центр в Роттердаме
              div.row
                div.col-6.property Год постройки
                div.col-6.value 1985, 1993
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 380 мест
                br
                div.col-6.property Площадь участка
                div.col-6.value 380.000 m2
                br
                div.col-6.property.grey Общая полезная площадь
                div.col-6.value.grey 114.000 m2
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 7.54%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 110.000.000 €
                div.row
                  div.col.text-center
                    small Комиссия 2.5% + НДС 

        div.col-6
          div.item
            img(src='img/Maysen.jpg')
            div.desc
              p.name Торговый центр в Майсене
              div.row
                div.col-6.property Полезная площадь здания
                div.col-6.value 24.211 м2
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey до 01.03.2022 (основной оператор)
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 12.500.000 €

        div.col-6
          div.item
            img(src='img/Nois.jpg')
            div.desc
              p.name Коммерческие площади, сдаваемые в аренду фитнес-центру в Нойсе
              div.row
                div.col-6.property Год постройки
                div.col-6.value 1988
                br
                div.col-6.property.grey Площадь участка
                div.col-6.value.grey 2.499 m2
                br
                div.col-6.property Общая арендуемая площадь
                div.col-6.value 1.680 m2
                br
                div.col-6.property.grey Парковка
                div.col-6.value.grey 103 места
                br
                div.col-6.property Договор аренды
                div.col-6.value до 2033 года
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey Есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 8%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 2.624.375 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Berlin.jpg')
            div.desc
              p.name Супермаркет и магазин одежды в Берлине
              div.row
                div.col-6.property Год постройки
                div.col-6.value 2007
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 117 мест
                br
                div.col-6.property Общая площадь участка
                div.col-6.value 5.587 m2
                br
                div.col-6.property.grey Арендуемая площадь
                div.col-6.value.grey 1.700 m2
                br
                div.col-6.property Количество этажей
                div.col-6.value 1
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey 2 договора до 2022 года
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 3.200.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Ingolshtadt02.jpg')
            div.desc
              p.name Коммерческие площади/мaгазин в Ингольштадте
              div.row
                div.col-6.property Год постройки
                div.col-6.value до 03/2018
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 60 мест
                br
                div.col-6.property Общая полезная площадь
                div.col-6.value 1.600 m2
                br
                div.col-6.property.grey Площадь участка
                div.col-6.value.grey 5.000 m2
                br
                div.col-6.property Договор аренды
                div.col-6.value до 2033 года
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 5,3%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 5.120.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Bukstehude.jpg')
            div.desc
              p.name Коммерческие площади/мaгазин в Букстехуде
              div.row
                div.col-6.property Год постройки
                div.col-6.value 1982
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 98 мест
                br
                div.col-6.property Общая полезная площадь
                div.col-6.value 1.606 m2
                br
                div.col-6.property.grey Площадь участка
                div.col-6.value.grey 4.679 m2
                br
                div.col-6.property Договор аренды
                div.col-6.value до 2026 года
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность 
                div.col-6.value.grey 6.02%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 3.150.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Dusseldorf02.jpg')
            div.desc
              p.name Коммерческие площади в Дюссельдорфе
              div.row
                div.col-6.property Паркинг
                div.col-6.value 12 мест
                br
                div.col-6.property.grey Общая площадь
                div.col-6.value.grey 1.206 m
                  sup 2
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность 
                div.col-6.value 3,12%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 10.100.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item#id-a18107
            img(src='img/Vena02.jpg')
            div.desc
              p.name Коммерческие площади в Вене
              div.row
                div.col-6.property Участок
                div.col-6.value 784
                  sup 2
                br
                div.col-6.property.grey Парковка
                div.col-6.value.grey 84 машиноместа
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность 
                div.col-6.value 5%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 17.000.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Hamburg04.jpg')
            div.desc
              p.name Коммерческая недвижимость/офисный центр в Гамбурге
              div.row
                div.col-6.property Участок
                div.col-6.value 10.070
                  sup 2
                br
                div.col-6.property.grey Год постройки
                div.col-6.value.grey 2001
                br
                div.col-6.property Парковка
                div.col-6.value 150 машиноместа
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey до 31.01.2019
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность 
                div.col-6.value 7,2%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 10.550.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Berlin01.jpg')
            div.desc
              p.name Сетевой ресторан / Кофе - Хауз в центре Берлина
              div.row
                div.col-6.property Участок
                div.col-6.value В собственности
                br
                div.col-6.property.grey Год постройки
                div.col-6.value.grey Октябрь 2017 г.
                br
                div.col-6.property Договор аренды
                div.col-6.value 15 лет
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность 
                div.col-6.value.grey 4,58%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 3.350.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Berlin02.jpg')
            div.desc
              p.name Коммерческие площади/сетевой ресторан в Берлине
              div.row
                div.col-6.property Участок
                div.col-6.value В собственности
                br
                div.col-6.property.grey Год постройки
                div.col-6.value.grey Октябрь 2018 г.
                br
                div.col-6.property Договор аренды
                div.col-6.value 15 лет
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность 
                div.col-6.value.grey 5,28%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 4.000.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Dusseldorf01.jpg')
            div.desc
              p.name Коммерческие площади - торговая галерея в Дюссельдорфе
              div.row
                div.col-6.property Арендуемая площадь
                div.col-6.value 5.450 м
                  sup 2
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey с 5 операторами
                br
                div.col-6.property Парковочные места
                div.col-6.value 315 мест
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность 
                div.col-6.value.grey 6,9%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 8.500.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Baden-Viyutemberg.jpg')
            div.desc
              p.name Центр моды в Баден-Вюртемберге
              div.row
                div.col-6.property Участок
                div.col-6.value В собственности
                br
                div.col-6.property.grey Площадь участка
                div.col-6.value.grey 2.619 м
                  sup 2
                br
                div.col-6.property Год постройки/реконструкции
                div.col-6.value 1980/1988
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey до 30.09.2024
                br
                div.col-6.property Парковочные места
                div.col-6.value 100 машиномест
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность 
                div.col-6.value.grey 6%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 11.670.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Augsburg01.jpg')
            div.desc
              p.name Ритейл в Аугсбурге
              div.row
                div.col-6.property Участок
                div.col-6.value 1.300 м
                  sup 2
                br
                div.col-6.property.grey Год постройки/реконструкции
                div.col-6.value.grey 1984/2010
                br
                div.col-6.property Договор аренды
                div.col-6.value до 02.2020
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey 33 машиноместа
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность 
                div.col-6.value 5,1%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 2.200.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Valdurn.jpg')
            div.desc
              p.name Коммерческие площади в Вальдюрне
              div.row
                div.col-6.property Участок
                div.col-6.value 3.570 м
                  sup 2
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey 12 лет с 2010
                br
                div.col-6.property Парковочные места
                div.col-6.value 34 машиноместа
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 1.550.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Birshtain01.jpg')
            div.desc
              p.name Коммерческие площади, магазин в Бирштайн
              div.row
                div.col-6.property Участок
                div.col-6.value 7.194 м
                  sup 2
                br
                div.col-6.property.grey Год постройки
                div.col-6.value.grey 2006
                br
                div.col-6.property Парковочные места
                div.col-6.value 100 машиномест
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 1.904.166 €

        div.col-6
          div.item
            img(src='img/Zingen01.jpg')
            div.desc
              p.name Коммерческие площади, Мебельный магазин, Магазин электроники, McDonald's в Зингене
              div.row
                div.col-6.property Участок
                div.col-6.value 21.071 м
                  sup 2
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey около 320 машиномест
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 16.450.000 €

        div.col-6
          div.item
            img(src='img/Guncenhauzen.jpg')
            div.desc
              p.name Центр по торговле строительными материалами + торговый центр все для сада в Гунценхаузен
              div.row
                div.col-6.property Год постройки
                div.col-6.value 12/2016
                br
                div.col-6.property.grey Участок
                div.col-6.value.grey прибл. 21.040 м
                    sup 2
                br
                div.col-6.property Договор аренды
                div.col-6.value 15 лет
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 6,1%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 7.300.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item#id-de16156
            img(src='img/Dusseldorf03.jpg')
            div.desc
              p.name Коммерческие площади в Дюссельдорфе
              div.row
                div.col-6.property Подземный паркинг
                div.col-6.value 38 мест
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 3,34%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 27.500.000 €

        div.col-6
          div.item
            img(src='img/Duren.jpg')
            div.desc
              p.name Торгово-развлекательный центр в Дюрене
              div.row
                div.col-6.property Участок
                div.col-6.value 9.831 м
                  sup 2
                br
                div.col-6.property.grey Год постройки
                div.col-6.value.grey 1998
                br
                div.col-6.property Договор аренды
                div.col-6.value до 2026 и 2028 г.
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 9,05%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 9.219.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Herten.jpg')
            div.desc
              p.name Магазин строительных товаров в Хертене
              div.row
                div.col-6.property.grey Год постройки
                div.col-6.value.grey середина 2018
                br
                div.col-6.property Договор аренды
                div.col-6.value с 2018
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 6,78%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 7.743.750 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Zalcgitter.jpg')
            div.desc
              p.name Коммерческие площади / жилая недвижимость и офисные помещения в Зальцгиттере
              div.row
                div.col-6.property Год постройки/реконструкции
                div.col-6.value 1967/1985
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 50 мест
                br
                div.col-6.property Общая полезная площадь
                div.col-6.value 8.724 m2
                br
                div.col-6.property.grey Площадь участка
                div.col-6.value.grey 5.525 m2
                br
                div.col-6.property Количество этажей
                div.col-6.value 6
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 7.47%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 12.800.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item#id-a17174
            img(src='img/Vena01.jpg')
            div.desc
              p.name Коммерческие площади / офисные помещения и два детских сада в Вене
              div.row
                div.col-6.property Год постройки
                div.col-6.value 1991
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 24 места
                br
                div.col-6.property Общая полезная площадь
                div.col-6.value 3.472 м
                    sub 2
                br
                div.col-6.property.grey Площадь участка
                div.col-6.value.grey 1.514 м
                    sub 2
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 5.4%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 7.548.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Dusseldorf01.jpg')
            div.desc
              p.name Коммерческие площади / офисная и жилая недвижимость в Дюссельдорфе
              div.row
                div.col-6.property Год постройки/реконструкции
                div.col-6.value 1994/1996-2002
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 115 мест
                br
                div.col-6.property Общая полезная площадь
                div.col-6.value 8.481 m2
                br
                div.col-6.property.grey Площадь участка
                div.col-6.value.grey 3.437 m2
                br
                div.col-6.property Количество этажей
                div.col-6.value 4/5
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 7.500.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 
                    
        div.col-6
          div.item
            img(src='img/Hamburg01.jpg')
            div.desc
              p.name Коммерческая недвижимость/офисный центр в Гамбурге
              div.row
                div.col-6.property Год постройки
                div.col-6.value 2001
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 150 мест
                br
                div.col-6.property Полезная площадь здания
                div.col-6.value 7.521,54 m2
                br
                div.col-6.property.grey Площадь участка
                div.col-6.value.grey 10.070 m2
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 7.2%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 10.550.000 €
                div.row 
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Leipcig-region.jpg')
            div.desc
              p.name Продовольственный магазин в регионе Лейпциг
              div.row
                div.col-6.property Год постройки
                div.col-6.value 2016
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 36 мест
                br
                div.col-6.property Полезная площадь здания
                div.col-6.value 1.376 м
                    sup 2
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey до 12/2021
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 7.64%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 1.775.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Regensburg01.jpg')
            div.desc
              p.name Магазины в Регенсбурге
              div.row
                div.col-6.property Год постройки
                div.col-6.value 2007
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 82 мест
                br
                div.col-6.property Участок
                div.col-6.value 5.587 м
                    sup 2
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey 15 лет с 2007 г.
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 3.200.000 €