doctype html
html(lang='ru')
  head
    include head
  body

    h1.text-center Гостиницы
    div.container
      div.row

        div.col-6
          div.item
            img(src='img/Berlin-Mitte.jpg')
            div.desc
              p.name Апартаменты для студентов в Берлин-Митте
              div.row
                div.col-6.property Количество апартаментов
                div.col-6.value 202
                br
                div.col-6.property.grey Начало строительства
                div.col-6.value.grey весна 2017
                br
                div.col-6.property Полная сдача объекта
                div.col-6.value до 28.02.2019
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Затраты на приобретение
                div.col-6.value.grey 7,5%
              div.mt-3
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item
            img(src='img/Furt.jpg')
            div.desc
              p.name Новая бюджетная гостиница во Фюрте
              div.row
                div.col-6.property Год постройки
                div.col-6.value 2017
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 66 мест
                br
                div.col-6.property Количество этажей
                div.col-6.value 5
                br
                div.col-6.property.grey Количество номеров
                div.col-6.value.grey 103
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 5.01%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 11.650.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item
            img(src='img/Munhen09.jpg')
            div.desc
              p.name 3*** Гостиница в Мюнхен-Ольхинге
              div.row
                div.col-6.property Год постройки
                div.col-6.value 1986
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 31 место
                br
                div.col-6.property Количество этажей
                div.col-6.value 3
                br
                div.col-6.property.grey Количество номеров
                div.col-6.value.grey 56
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 6.73%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 4.900.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС
        div.col-6
          div.item
            img(src='img/Munhen02.jpg')
            div.desc
              p.name Бизнес-отель в Мюнхене
              div.row
                div.col-6.property Год постройки
                div.col-6.value 2017
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 110 место
                br
                div.col-6.property Количество номеров
                div.col-6.value 150
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 23.000.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item
            img(src='img/Munhen06.jpg')
            div.desc
              p.name 4**** Отель на территории аэропорта Мюнхена
              div.row
                div.col-6.property Год постройки
                div.col-6.value 1991
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 170 мест
                br
                div.col-6.property Количество этажей
                div.col-6.value 3
                br
                div.col-6.property.grey Количество номеров
                div.col-6.value.grey 150
                br
                div.col-6.property Договор аренды
                div.col-6.value 20 лет
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 6.2%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 18.000.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item
            img(src='img/Munhen05.jpg')
            div.desc
              p.name Новая концепция бюджетного отеля в Мюнхене
              div.row
                div.col-6.property Год постройки
                div.col-6.value 2017
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 53 мест
                br
                div.col-6.property Количество номеров
                div.col-6.value 105
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey 15 лет
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 4.97%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 16.500.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item
            img(src='img/Munhen04.jpg')
            div.desc
              p.name 3*** Гостиница в центре Мюнхена
              div.row
                div.col-6.property Год постройки/реновация
                div.col-6.value 1973/2016/2017
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 24 места
                br
                div.col-6.property Количество этажей
                div.col-6.value 6
                br
                div.col-6.property.grey Количество номеров
                div.col-6.value.grey 90
                br
                div.col-6.property Договор аренды
                div.col-6.value 20 лет
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 4.13%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 21.800.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item#id-de16106
            img(src='img/Munhen03.jpg')
            div.desc
              p.name 3*** Отель в Мюнхене
              div.row
                div.col-6.property Год постройки
                div.col-6.value 2015
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 62 места
                br
                div.col-6.property Количество этажей
                div.col-6.value 4
                br
                div.col-6.property.grey Количество номеров
                div.col-6.value.grey 135
                br
                div.col-6.property Договор аренды
                div.col-6.value 20 лет
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 5.54%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 17.900.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС


        div.col-6
          div.item
            img(src='img/Kotbus.jpg')
            div.desc
              p.name 3*** Гостиница недалеко от центра Котбуса
              div.row
                div.col-6.property Год постройки/реновация
                div.col-6.value 1994/2016
                br
                div.col-6.property.grey Количество этажей
                div.col-6.value.grey 3
                br
                div.col-6.property Количество номеров
                div.col-6.value 88
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 5.87%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 3.150.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item
            img(src='img/Keln-hurt.jpg')
            div.desc
              p.name 4**** Отель в Кёльне
              div.row
                div.col-6.property Год постройки/реновация
                div.col-6.value 1993/2008
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 149 мест
                br
                div.col-6.property Количество этажей
                div.col-6.value 4
                br
                div.col-6.property.grey Количество номеров
                div.col-6.value.grey 165
                br
                div.col-6.property Договор аренды
                div.col-6.value до 2028 года
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 7%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 14.355.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Karlsrue.jpg')
            div.desc
              p.name 3*** Отель в Карлсруэ
              div.row
                div.col-6.property Год постройки
                div.col-6.value 2009
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 64 места
                br
                div.col-6.property Количество номеров
                div.col-6.value 134
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey с 2016 до 2041 года
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 5.5%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 14.000.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Ingolshtadt01.jpg')
            div.desc
              p.name Бюджетный отель в центре Ингольштадта
              div.row
                div.col-6.property Год постройки
                div.col-6.value 2014
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 10 мест
                br
                div.col-6.property Количество этажей
                div.col-6.value 5
                br
                div.col-6.property.grey Количество номеров
                div.col-6.value.grey 144
                br
                div.col-6.property Договор аренды
                div.col-6.value 20 лет
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 6.5%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 17.000.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item
            img(src='img/Hamburg04.jpg')
            div.desc
              p.name 4**** Гостиница в Гамбурге
              div.row
                div.col-6.property Год постройки/реновации
                div.col-6.value 1954/2013
                br
                div.col-6.property.grey Количество номеров
                div.col-6.value.grey 107
                br
                div.col-6.property Договор аренды
                div.col-6.value с 2012 до 2027 года
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 5.89%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 12.400.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item
            img(src='img/Hamburg02.jpg')
            div.desc
              p.name 2** Гостиница рядом с гаванью Бильхафен в Гамбурге
              div.row
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 56 мест
                br
                div.col-6.property Количество этажей
                div.col-6.value 5
                br
                div.col-6.property.grey Количество номеров
                div.col-6.value.grey 99
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 5,01%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 13.950.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС
                    
        div.col-6
          div.item
            img(src='img/Hamburg02.jpg')
            div.desc
              p.name Гостиница рядом с гаванью Бильхафен в Гамбурге
              div.row
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 56 мест
                br
                div.col-6.property Количество этажей
                div.col-6.value 5
                br
                div.col-6.property.grey Количество номеров
                div.col-6.value.grey 99
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 5,01%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 14.355.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Essen.jpg')
            div.desc
              p.name Бюджетный отель в Эссене
              div.row
                div.col-6.property Год постройки
                div.col-6.value 2017
                br
                div.col-6.property.grey Паркинг
                div.col-6.value.grey 110 место
                br
                div.col-6.property Количество номеров
                div.col-6.value 150
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey 20 лет (+ опции продления)
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 5.79%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 9.800.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС



        div.col-6
          div.item
            img(src='img/Stutgart02.jpg')
            div.desc
              p.name 3* Гостиница Аэропорт в Штутгарте
              div.row
                div.col-6.property Количество этажей
                div.col-6.value 3
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey 25 лет (Аренда с оборота 27%)
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 5.06%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 20.450.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item
            img(src='img/Frankfurt-na-Maine.jpg')
            div.desc
              p.name 3* Гостиница и Коммерческие площади во Франкфурте-на-Майне
              div.row
                div.col-6.property Количество комнат
                div.col-6.value 234
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey 600 машиномест
                br
                div.col-6.property Год постройки
                div.col-6.value осень 2017
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey 20 лет
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 4,9% (5,4%)
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 46.200.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item
            img(src='img/Munhen01.jpg')
            div.desc
              p.name 4* Гостиница в Мюнхене
              div.row
                div.col-6.property Количество номеров
                div.col-6.value 119
                br
                div.col-6.property.grey Подземный паркинг
                div.col-6.value.grey 15 машиномест
                br
                div.col-6.property Год постройки
                div.col-6.value осень 2011
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey с 16.03.2011 до 15.03.2026
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 4,1%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 30.000.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item
            img(src='img/Frankfurt-na-Maine.jpg')
            div.desc
              p.name 3* Гостиница, офисное здание и парковочный комплекс во Франкфурт-на-Майне
              div.row
                div.col-6.property Количество номеров
                div.col-6.value 234
                br
                div.col-6.property.grey Количество парковочных мест
                div.col-6.value.grey 595 
                br
                div.col-6.property Год постройки
                div.col-6.value 2017
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey 20 лет
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 4%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 46.200.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item
            img(src='img/Hamburg03.jpg')
            div.desc
              p.name 4* Гостиница в Гамбурге
              div.row
                div.col-6.property Количество комнат
                div.col-6.value 385
                br
                div.col-6.property.grey Количество парковочных мест
                div.col-6.value.grey 285 машиномест + 60 мест общественной парковки
                br
                div.col-6.property Договор аренды
                div.col-6.value 25 лет
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 5%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 70.000.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item
            img(src='img/Berlin05.jpg')
            div.desc
              p.name Отель класса люкс в Берлине
              div.row
                div.col-6.property Количество номеров
                div.col-6.value 208
                br
                div.col-6.property.grey Количество этажей
                div.col-6.value.grey 6
                br
                div.col-6.property Год постройки
                div.col-6.value 2015
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 4%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 125.000.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item#de16153
            img(src='img/Zalcburg03.jpg')
            div.desc
              p.name 4* Отель в Зальцбурге
              div.row
                div.col-6.property Количество номеров
                div.col-6.value 120
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey 300 машиномест
                br
                div.col-6.property Договор аренды
                div.col-6.value 20 лет (+ опции продления)
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 6,02%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 11.000.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item#id-de17151
            img(src='img/Zalcburg01.jpg')
            div.desc 
              p.name 4* Гостиница и коммерческие площади в Зальцбурге
              div.row
                div.col-6.property Количество номеров
                div.col-6.value 101
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey 37 машиномест
                br
                div.col-6.property Договор аренды
                div.col-6.value до 2030 года
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 5,2%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 12.500.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item
            img(src='img/Berlin04.jpg')
            div.desc
              p.name Бюджетный Апарт-отель в самом центре Берлина
              div.row
                div.col-6.property Количество номеров
                div.col-6.value 130
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey 21 место в подземной парковке
                br
                div.col-6.property Количество этажей
                div.col-6.value 5
                br
                div.col-6.property.grey Год постройки
                div.col-6.value.grey 2017
                br
                div.col-6.property Участок
                div.col-6.value в собственности
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 4,5%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 22.500.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС

        div.col-6
          div.item
            img(src='img/Monterteih.jpg')
            div.desc
              p.name Заправка с зоной технического обслуживания и 3-звёздочным отелем в Монтеррейе
              div.row
                div.col-6.property Количество номеров
                div.col-6.value 38
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey 80 легковых и 80 большегрузных
                br
                div.col-6.property Количество этажей
                div.col-6.value 3
                br
                div.col-6.property.grey Год постройки
                div.col-6.value.grey 1996
                br
                div.col-6.property Участок
                div.col-6.value 27 100 м
                    sup 2
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey до 03.2026
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 2.800.000 €

        div.col-6
          div.item
            img(src='img/Munhen07.jpg')
            div.desc
              p.name Апарт-отель в Мюнхен-Гилчинге
              div.row
                div.col-6.property Количество комнат
                div.col-6.value 150
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey 130 машиномест
                br
                div.col-6.property Договор аренды
                div.col-6.value 20 лет
                br
                div.col-6.property.grey Год постройки
                div.col-6.value.grey апрель 2017
                br
                div.col-6.property Участок
                div.col-6.value 2.837,84 м
                    sup 2
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 23.000.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС