doctype html
html(lang='ru')
  head
    include head
  body

    h1.text-center Рестораны/магазины
    div.container
      div.row

        div.col-6
          div.item
            img(src='img/Augsburg01.jpg')
            div.desc
              p.name Пакет 4 магазина сетевого ритейла
              div.row
                div.col-6.property Год постройки
                div.col-6.value 2006
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey 67 машиномест
                br
                div.col-6.property Участок
                div.col-6.value Земля в собственности
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 6,6%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 13.300.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Babenhauzen.jpg')
            div.desc
              p.name Магазин NORMA в Бабенхаузене
              div.row
                div.col-6.property Год постройки
                div.col-6.value 2012-2013
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey 74 машиномест
                br
                div.col-6.property Участок
                div.col-6.value 4200 м
                    sup 2
                br
                div.col-6.property.grey Срок аренды
                div.col-6.value.grey до 12.2023
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 1.750.000 €

        div.col-6
          div.item
            img(src='img/Munhen09.jpg')
            div.desc
              p.name Жилая и коммерческая недвижимость Мюнхен-Грюнвальд
              div.row
                div.col-6.property Год постройки
                div.col-6.value 1986
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey 22 машиномест (6 в аренде)
                br
                div.col-6.property Участок
                div.col-6.value 770 м
                    sup 2
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 4,5%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 6.100.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Munhen09.jpg')
            div.desc
              p.name Фитнес-центр в Карсте
              div.row
                div.col-6.property Год постройки/реконструкции
                div.col-6.value 1980/2001
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey 51 машиноместо
                br
                div.col-6.property Участок
                div.col-6.value 2973 м
                    sup 2
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 8%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 2.062.487 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 

        div.col-6
          div.item
            img(src='img/Volfratshausen.jpg')
            div.desc
              p.name Центр по торговле строительными материалами + торговый центр все для сада
              div.row
                div.col-6.property Год постройки
                div.col-6.value Апрель 2016
                br
                div.col-6.property.grey Парковочные места
                div.col-6.value.grey 332 машиномест
                br
                div.col-6.property Участок
                div.col-6.value прибл. 20.170 м
                    sup 2
                br
                div.col-6.property.grey Договор аренды
                div.col-6.value.grey 15 лет
                br
                div.col-6.property Индексация
                div.col-6.value есть
                br
                div.col-6.property.grey Финансирование
                div.col-6.value.grey возможно
                br
                div.col-6.property Рентабельность
                div.col-6.value 6,8%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 12.200.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС 


        div.col-6
          div.item
            img(src='img/Vorms.jpg')
            div.desc
              p.name Торговый центр
              div.row
                div.col-6.property Год постройки/реконструкции
                div.col-6.value 1965/2015
                br
                div.col-6.property.grey Участок
                div.col-6.value.grey 2.445 м
                    sup 2
                br
                div.col-6.property Договор аренды
                div.col-6.value до 12/2021
                br
                div.col-6.property.grey Индексация
                div.col-6.value.grey есть
                br
                div.col-6.property Финансирование
                div.col-6.value возможно
                br
                div.col-6.property.grey Рентабельность
                div.col-6.value.grey 7,7%
              div.mt-3
                div.row
                  div.col.text-center
                    b Цена: 9.969.000 €
                div.row
                  div.col.text-center
                    small Комиссия 4% + НДС  